In [ ]:
#抓取台灣銀行牌告匯率 by 大數學堂
#http://www.largitdata.com
#原版 20180520
#20251005 更新

import pandas as pd
from datetime import datetime
import sqlite3

#source
url="https://rate.bot.com.tw/xrt?Lang=zh-TW"

#讀取網頁
dfs=pd.read_html(url)

#測試
#type(dfs)
#len(dfs)

#資料呈現
#dfs[0]

currency=dfs[0]

In [69]:
#檢查
#type(currency)

#擷取需要的欄位
currency_fix=currency.iloc[:,0:3]

#檢查
#currency_fix

#自訂欄位名稱
currency_fix.columns=[u'幣別',u'買入',u'賣出']

#檢查
#currency_fix

#清除幣別欄重複字元
#currency_fix[u'幣別']=currency_fix[u'幣別'].str.extract('\((\w+)\)')
# gemini 建議寫法，原本寫法輸出一樣。但會出現語法可能有誤的訊息
currency_fix[u'幣別'] = currency_fix[u'幣別'].str.extract(r'\((\w+)\)')

#檢查
currency_fix.head(15)

     幣別       買入       賣出
0   USD    29.96    30.63
1   HKD    3.746     3.95
2   GBP    39.74    41.86
3   AUD    19.66    20.44
4   CAD    21.28    22.19
5   SGD    22.98    23.89
6   CHF    37.37    38.57
7   JPY   0.1967   0.2095
8   ZAR        -        -
9   SEK        -        -
10  NZD    17.23    18.08
11  THB   0.8109   1.0009
12  PHP   0.4582   0.5902
13  IDR  0.00148  0.00218
14  EUR    34.85    36.19

In [ ]:
# ZAR 跟 SEK 出現 空值 -
# 要出現空值的欄位過濾掉不要顯示在資料表裡
# 最後 .reset_index(drop=True) 是把索引數字重新排序
# 因為刪掉 8 ZAR ,9 SEK這兩個欄位後，原本索引的數字 8 9會直接跳過，索引要重新排序
# gemini 提供寫法
currency_final = currency_fix[(currency_fix[u'買入'] != '-') & (currency_fix[u'賣出'] != '-')].reset_index(drop=True)

In [74]:
currency_final

     幣別       買入       賣出
0   USD    29.96    30.63
1   HKD    3.746     3.95
2   GBP    39.74    41.86
3   AUD    19.66    20.44
4   CAD    21.28    22.19
5   SGD    22.98    23.89
6   CHF    37.37    38.57
7   JPY   0.1967   0.2095
8   NZD    17.23    18.08
9   THB   0.8109   1.0009
10  PHP   0.4582   0.5902
11  IDR  0.00148  0.00218
12  EUR    34.85    36.19
13  KRW  0.01983  0.02373
14  VND  0.00091  0.00132
15  MYR    6.189    7.714
16  CNY    4.159    4.321